.home.page-template-page-home {
  .header {
    width: 100%;
    height: 80rem;
    // 40px + 67px + 67px = 174px;
    height: calc(100vh - 174px);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;


    @include media-breakpoint-down(md) {
      height: 65rem;
    }
    &::after {

    }

    .header-content {

    }
  }

  .carousel-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .carousel-inner {
      height: 100%;

    }
  }
  #carouselMain {
    width: 100%;
    height: 100%;

    .carousel-indicators {
      bottom: -15px;
    }

    .carousel-indicators li {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid $white;

      &.active {
        background-color: $yellow;
        border-color: $yellow;
      }
    }
    .carousel-item {
      height: 100%;

      @supports (-ms-ime-align: auto) {
        .slide-background {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $gradient-diagonal;
            opacity: 0.75;
          }
        }
      }
      .slide-background {
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;


        .header-content {
          height: 100%;
          z-index: 999;
          padding-right: 10rem;
          padding-left: 10rem;
          padding-bottom: 10rem;


          @include media-breakpoint-down(sm) {
           padding-right: 2rem;
           padding-left: 2rem;
           padding-bottom: 0;
          }

          h1 {
            color: $white;
          }
          p {
            color: $white;
          }
          .row {
            height: 100%;
          }
        }
      }
    }
  }

  // 2020 Luncheon slide
  .carousel-item.luncheon-slide {
    p {
      font-weight: bold;
      font-style: italic;
      font-size:2rem;
      color: $gray!important;
      font-family: Georgia;
    }
    img {
      max-width:60%;
      @media (min-width: 768px) {
				margin-top:3rem;
        max-width:75%;
		  }

      @media (min-width: 1600px) {
				margin-top:8rem;
        max-width:50%;
		  }
    }
  }

  .recent-posts {


    a {
      text-decoration: none;
    }
    a:hover .recent-post-background::after {

        opacity: 0.9;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);

    }
    .recent-post-background {

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 40rem;
      position: relative;
      height: 100%;

      &::after {
        background-color: $red;
        opacity: 0.8;
        z-index: 99;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transition: all .5s;
      }

      &.bg-purple {

        &::after {
          background-color: $purple;
        }
      }



      .recent-post-content {
        position: relative;
        padding: 5rem;
        z-index: 100;
        h1 {
          font-size: 3.6rem;
          z-index: 100;
          color: $white;
        }
      }

    }
  }

  .has-wave {

    height: 50rem;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include media-breakpoint-down(md) {
      height: 30rem;
    }

    .row-barriers-icons {
      padding-top: 6rem;
      margin-top: -2rem;
      margin-bottom: 5rem;

      @include media-breakpoint-down(md) {

        margin-bottom: 4rem;
        padding-top: 5rem;
        .barriers-icons {
          width: 5rem;
          margin-left: .4rem;
          margin-right: .4rem;
        }



      }
    }
    .barriers-icons {
      width: 10rem;
      margin-left: 3rem;
      margin-right: 3rem;


    }

    .btn-primary {


      @include media-breakpoint-down(md) {
        height: 4.6rem;

      }
    }
  }

  .values {
    text-align: center;
    img {
      width: 25%;
      padding-bottom: 2rem;
    }

    .values-content {
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-left: auto;
        text-align: left;
      }

      a {
        color: $purple;
        font-family: $secondary-font;
        font-style: italic;
      }
    }


  }

  // modal
  #videoModal {
    .modal-header {
      h3 {
        color: $purple;
      }
    }
    .modal-dialog.modal-large {
      max-width: 100%;
      width: fit-content;

      @supports (-ms-ime-align: auto) {
        width: 800px;
      }
    }
    .modal-dialog-centered {
      margin: 0 auto;
    }

    .modal-body {
      padding: 2rem 2rem 1.0rem 2rem;

      @include media-breakpoint-down(md) {
        iframe {
          width: 100% !important;
          height: 420px;
        }
      }

    }
  }

  .play-button {
    width: 15rem;
  }
  .close {
    span {
      font-size: 3rem;
    }
  }

}
