.page-template-default, .page-template-page-donate, .page-template, .post-template-default, .page-template-page-tribute, .search, .error404 {
  .page-header {
    background: $gradient-horizontal;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    margin-bottom: 7rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 5rem;
      padding-top: 4rem;
      padding-bottom: 4rem;

    }

    h1 {
      color: $white;
      margin-bottom: 0;
    }
  }

  .footer {
    margin-top: 7rem;
  }
}

.page-header-careforce {
  background-image: url('/wp-content/themes/iwf-website/images/bg-careforce.jpg');
  background-repeat: no-repeat;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  margin-bottom: 7rem;
  border-bottom:2px solid rgba($purple, .2);

}
