$primary-font: 'Avenir', sans-serif;
$secondary-font: 'Merriweather', serif;

// sizes in design 40px 26px 20px 16px
h1,h2,h3,h4,h5,h6 {
  margin-bottom:2rem;
}
h1 {
  font-size: 4rem;
  color: $purple;
  font-family: $secondary-font;
  font-style: italic;

  @include media-breakpoint-down(md) {
    font-size: 3.4rem;
  }
}
h2 {
  font-size: 2.6rem;
  color: $yellow;
  //margin-bottom: 1rem;

}
h3, h4, h5, h6 {
  color: $gray;
  font-size: 2.4rem;
}
// Alternative h1
h4 {
  font-size: 4rem;
  color: $gray;
  font-style: italic;
  font-family: $secondary-font;
}
// Alternative h2
h5 {
  font-size: 2.6rem;
  color: $purple;
}
// Alternative h3
h6 {
  font-size: 2.4rem;
  color: $purple;
}
p {
  font-size: 1.8rem;
  color: $gray;
  margin-bottom: 2.5rem;

}
a {
  color: $yellow;


  &:hover {
    color: darken($yellow, 7%);
    text-decoration: underline;
  }
}

small {
  color: $gray;
}
.lead {
  font-weight: initial;
  font-size: 1.8rem;
}

ol, ul, dl {
    margin-bottom: 3rem;
    li {
      margin-bottom: 1.5rem;

    }
}

blockquote {
  margin: 0 0 2rem;
  background: rgba($light-purple, .2);
  padding: 5rem;
  border-radius: 0.5rem;
  p {
    font-weight: bold;
    font-size:2.2rem;
    color:$purple;
    font-style: italic;
  }
  cite {
    font-size:1.4rem;
  }
}

#main {

  li {
    list-style-type: none;

    &::before {
      content: "\2022";
      color: $purple;
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
      padding-right: 3rem;
    }

  }

  .wp-block-gallery {
    margin-top:4rem;

    li {
      &::before {
        display: none!important;
      }
    }
  }

  .wpv-pagination-nav-links-container {
    li {
      padding:0;
      margin-right:.5rem;
      background:rgba(229, 219, 225, 0.2);
      border-radius: .5rem;

      &:not(.disabled){
      transition: all .5s ease-in-out;
      &:hover {
        background: darken($light-purple, 10);
      }
        a.page-link {
          color: $purple;
          padding:.5rem 2.5rem;
        }
      }

      &.wpv_page_current {
        background:rgba($purple, .7);
        padding:.5rem 2.5rem;
        color:$white;
        &:hover {
          background:rgba($purple, .7);
        }
      }

      &.page-item {
        span.wpv-filter-previous-link, span.wpv-filter-next-link {
          padding:.5rem 2.5rem;
          display: inline-block;
        }
        a.wpv-filter-previous-link, a.wpv-filter-next-link {
          padding:.5rem 2.5rem;
          display: inline-block;
          color: $purple;
          text-decoration: none;
        }
      }

      &.disabled {
        color:$light-gray;
      }

      &::before {
        display: none!important;
      }
      a.page-link {
        padding:0;
        margin:0;
        background: none;
        border:none;
        line-height: inherit;
      }
    }
  }

}
