@import url('https://fonts.googleapis.com/css?family=Merriweather');

$purple: #7b2d67;
$purple-transparent: rgba(123, 45, 103, 0.7);
$red: #b82526;
$yellow: #db9c27;
$green: #31715b;
$blue: #073a59;

$white: #ffffff;
$light-purple: #e5dbe1;
$light-gray: #d0d2d3;
$gray: #58595b;

$gradient-horizontal: linear-gradient(to right, #db9c27 0%,#b82526 50%,#7b2d67 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$gradient-diagonal: linear-gradient(to top right, #db9c27 0%,#b82526 50%,#7b2d67 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

// Wordpress Gutenburg Block Colors
.has-iwf-purple-background-color {
    background-color: $purple;
}

.has-iwf-purple-color {
    color: $purple;
}

.has-iwf-red-background-color {
    background-color: $red;
}

.has-iwf-red-color {
    color: $red;
}

.has-iwf-yellow-background-color {
    background-color: $yellow;
}

.has-iwf-yellow-color {
    color: $yellow;
}

.has-iwf-green-background-color {
    background-color: $green;
}

.has-iwf-green-color {
    color: $green;
}

.has-iwf-blue-background-color {
    background-color: $blue;
}

.has-iwf-blue-color {
    color: $blue;
}

.has-iwf-light-purple-background-color {
    background-color: $light-purple;
}

.has-iwf-light-purple-color {
    color: $light-purple;
}

.has-iwf-light-gray-background-color {
    background-color: $light-gray;
}

.has-iwf-light-gray-color {
    color: $light-gray;
}

.has-iwf-gray-background-color {
    background-color: $gray;
}

.has-iwf-gray-color {
    color: $gray;
}
