@import
'../../node_modules/bootstrap/scss/bootstrap',
'./variables',
'./typography',
'./components/_footer', // Components
'./components/_forms',
'./components/_navbar',
'./components/_top-bar',
'./components/_grant-search',
'./pages/blog', // Pages
'./pages/_homepage',
'./pages/_page-template';


/* Bootstrap Breakpoints */
// Small devices (landscape phones, 576px and up)
// Medium devices (tablets, 768px and up)
// Large devices (desktops, 992px and up)
// Extra large devices (large desktops, 1200px and up)


html {
  font-size: 10px;
  scroll-behavior: smooth;

  @include media-breakpoint-down(md) {
    font-size: 9px;
  }
}
body {
  font-family: $primary-font;
  font-size: 1.8rem;
  color: $gray;

}
.gold-text {
  color: $yellow;
}
.btn.btn-primary, .wp-block-button__link, .wpv-submit-trigger {
  background: none;
  background-color: $purple;
  padding: .5rem 2.5rem;
  color: $white;
  border-radius: .5rem;
  font-weight: 600;
  border: none;
  font-size: 2rem;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &:hover {
    background-color: darken($purple, 10%);
    border: none;
    text-decoration: none;
  }

  &:focus {
    border: none;
    background-color: darken($purple, 10%);
    box-shadow: none;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: darken($purple, 10%);
  }



}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.banner-alert {
  background-color: $purple;

  text-align: center;
  width: 100%;
  padding: .5rem .5rem;
  p {
    color: $white;
    margin:0;
    padding:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

hr {
  border-top: 2px solid $yellow;
  margin:4rem 0;
}

.col-no-pad {
    margin:0;
    padding: 0;
}

.vlg-my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.vlg-my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.vlg-my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.vlg-my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.back-top {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  font-size: 30px;
  position: fixed;
  right: 25px;
  bottom: 15px;
  color: $white;
  display: block;
  background: $purple-transparent;
  text-decoration: none;
  z-index: 9999;
  //filter: drop-shadow(0px 0px 3px black);
  transition: all .5s ease-in-out;

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: darken($purple, 10%);
  }
}

img {
  max-width: 100%;
}

article img {
  border-radius: 0.25rem !important;
  padding: .75rem;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 0;
}

.alignright {
  float: right;
  margin:0rem 0 2rem 2rem;
}
.alignleft {
  float: left;
  margin:0rem 2rem 2rem 0;
}

.aligncenter {
  display: flex;
  align-self: center;
  text-align: center;
  margin:2rem auto;
}


//  page-home.php
//<div class="recent-post-background" style="background-image: url('<?php echo the_post_thumbnail_url(); ?>');"> <?php if ($query->the_post().has_post_thumbnail()) { ?> <?php } else {?> <?php }?>

.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.wp-block-image.image-no-border img {
  border:none!important;
  padding:0!important;
}

.wp-block-gallery.is-cropped .blocks-gallery-item img {
  object-fit: contain;
}
