.footer {
  background-color: $light-purple;
  padding: 4rem 0rem 2rem 0rem;
  position: relative;
  margin-top: 3rem;

  @include media-breakpoint-down(md) {
    margin-top: 5rem;
  }

  .circles {
    position: absolute;
    width: 20rem;
    top: -120px;
    right: 40px;
    @include media-breakpoint-down(md) {
      width: 10rem;
      top: -70px;
    }
  }

  hr {
    margin:2rem 0;
  }

  ul {
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
      margin-bottom:0.5rem;
    }

    &.social {
      li {
        a {
          img {
            width: 4.5rem;
            margin-left: .5rem;
            margin-right: .5rem;
            transition: all .5s ease-in-out;
            &:hover {
              opacity:.8;
            }
          }
        }
      }
    }
  }

  p {
    color: $purple;

    a {
      color: $purple;
    }
  }
  ul.quick-links-list {


    li {
      display: block;
      a {
        color: $purple;
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .disclaimers {
    p {
      font-size: 1.6rem;
      color: $purple;
    }
  }

  .btn-primary {
    color: $white;
  }
}
