.gform_wrapper {
  background-color: $white;

  .ginput_container {

    select {
      border: 2px solid $light-gray;
      padding: .8rem 1.2rem !important;
      border-radius: .3rem;
      background-color: $white;
      font-size: 2rem !important;
      color: $purple;

      &:active {
        outline: none;
        box-shadow: none;
      }

      &:focus {
        outline: none;
      }
    }
    textarea {
      border: 2px solid $light-gray;
      color: $purple;
      border-radius: .3rem;

      &:focus {
        outline: none;
        border-color: $purple;
      }
    }
    input {
      font-size: 2rem !important;
      padding: .8rem 1.2rem !important;
      border: 2px solid $light-gray;
      border-radius: .3rem;
      color: $purple;


      &:focus {
        border-color: $purple;
        box-shadow: none;
        outline: none;

      }
    }
    label {
      margin-top: .5rem !important;
      //margin-left: 1rem !important;
    }

    input.ginput_quantity[type=number] {
      width:10rem!important;
    }
  }

  .gform_footer {
    display: flex;
    justify-content: center;
    .gform_button, .gform_next_button {
      background-color: $purple;
      color: $white !important;
      border-radius: .5rem;
      font-family: $primary-font;
      font-size: 2rem;
      padding: .6rem 2rem;
      letter-spacing: .2rem;
      border: none;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        background-color: darken($purple, 10%);
      }
    }
  }

  .gform_fields {
    ::before {
      display: none!important;
    }

    .gfield {
      margin-bottom:4rem;
    }
  }

  .tribute-submission-price {
    margin:-4rem 0!important;
  }


}


.gform_next_button, .gform_button, .gform_previous_button {
  background-color: $purple;
  color: $white !important;
  border-radius: .5rem;
  font-family: $primary-font;
  border: none;
  font-size: 2rem;
  padding: .6rem 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: darken($purple, 10%);
  }
}

select.form-control {
  height: auto;
}
