.grant-search.well {
  overflow: auto;
  margin: 0 0 2rem;
  background: rgba($light-purple, .2);
  padding: 2rem;
  border-radius: 0.5rem;

  .span3 {
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    @include media-breakpoint-up(md) {
      float:left;
      width:25%;
    }
  }
  .span6 {
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    @include media-breakpoint-up(md) {
      float:left;
      width:50%;
    }
  }

  label {
    font-size: 1.3rem;
    display: block;
  }

  .form-textfield {
    width:100%;
    border: 2px solid $light-gray;
    border-radius: .3rem;
    color: $purple;
    &:focus {
      border-color: $purple;
      box-shadow: none;
      outline: none;

    }
  }

  .wpv-submit-trigger {
    display: block;
    width:100%;
    margin-top:2rem;
  }

}
