#main-nav.navbar.navbar-expand-lg {
  background-color: $white;
  box-shadow: 0px -1px 4px rgba(0,0,0,0.2);
  position: relative;

  .navbar-collapse.show {
    padding-top: 10rem;
  }
  .navbar-brand {
    position: absolute;
    z-index: 99;
    left: 0;


    img {
      width: 25rem;
      margin-left: 3rem;
    }

  }
  @include media-breakpoint-down(md) {
    justify-content: flex-end;
    padding: 30px;
    .navbar-brand {
      top: -1rem;

      img {
        width: 15rem;
      }
    }
  }


  .navbar-nav {

    .nav-item {

      margin: 1rem 0.5rem;
      @include media-breakpoint-up(xl) {
        margin: 1rem 2.5rem;
      }


      .nav-link {
        color: $purple;
        font-weight: 400;
        transition: all .5s ease-in-out;
        &:hover {
          color:darken($purple, 20%);
        }

      }

      &.dropdown {
        &:last-child() {
          .dropdown-menu {

            @include media-breakpoint-up(lg) {
              margin-left: -13.0rem;
            }

          }
        }
      }
      .dropdown-menu {
        border: none;
        text-align: left;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 2rem;

        @include media-breakpoint-down(md) {
          box-shadow: inset 0px 11px 8px -10px #CCC,
                      inset 0px -11px 8px -10px #CCC;
          border-radius: 0;
        }
        @include media-breakpoint-up(lg) {
          opacity:0;
          transition: all .25s ease-in-out;
          transform: scale(0);
          display: block;
        }

        &.show {
          @include media-breakpoint-up(lg) {
            opacity: 1;
            transform: scale(1);
          }
        }


        .dropdown-item {
          color: $purple;
          padding: 1.2rem;
          padding-right: 3.5rem;
          font-size: 2rem;
          border-bottom: 1px solid $light-purple;

          &:hover {
            color: darken($purple, 20%);
            border-bottom: 1px solid $yellow;
            background-color: $white;
          }
        }
        .dropdown-divider {
          border-top-color: $light-purple;
          margin-left: 1rem;
          margin-right: 1rem;
          //border-top-color: $yellow;
        }
      }
    }
  }
}




.mobile-menu-toggle-wrap {
  .mobile-menu-toggle {
    width: 25px;
    padding:10px;
    height: 21px;
    display: block;
    &.is-active {
      .mobile-menu-box {
        .mobile-menu-line {

          background: transparent;


          &::before {
            transform: rotate(45deg);
            top: 0;
          }
          &::after {
            transform: rotate(-45deg);
            top: 0;
          }
        }
      }
    }

    .mobile-menu-box {
      position: relative;
      display: block;


      .mobile-menu-line {
        background-color: $purple;
        width: 25px;
        height: 4px;
        border-radius: 4px;
        display: block;
        position: absolute;
        top:50%;
        bottom: 0;
        transition: all 0.4s ease;

        &::before, &::after {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          background-color: $purple;
          transition: inherit;
          border-radius: 4px;
        }
        &::before {
          top: -9px;
        }
        &::after {
          top: 9px;
        }
      }
    }
  }

}
