.navbar-expand-lg.top-bar {
  background-color: $light-purple;
  .navbar-nav{

    li.nav-item {
      margin-bottom: 0;
    }

    .nav-item {
      &:last-child .nav-link {
        color: $white;
        padding: .5rem 2.5rem;
        margin: 1rem 2.5rem 1rem 1rem;
        background-color: $purple;
        border-radius: .5rem;
        transition: all .5s ease-in-out;
        &:hover {
            background-color: darken($purple, 10%);
          &::before {
            width: 0;
          }
        }


      }
    }
    .nav-link {
      color: $purple;
      letter-spacing: .1rem;
      margin: 1rem;
      //font-weight: 500;

      position: relative;

      &::before {
        content: "";
        width: 0;
        background-color: $purple;
        height: 3px;
        position: absolute;
        transition: all .3s;
        bottom: 0;

      }
      &:hover {

        &::before {
          width: calc(100% - 10px);
        }
      }
    }
    .btn-primary {
      color: $white;
      padding: .5rem 2.5rem;
      margin: 1rem 2.5rem;
      &:hover {
        background-color: darken($purple, 10%);
      }

    }


    @include media-breakpoint-down(md) {
      flex-direction: row;

      .nav-link {
       margin: 1rem 1rem;
      }
      .nav-item {
        &:last-child .nav-link {
          margin: 1rem 1rem;
        }
      }

    }
  }

}
